<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="com.elobanova.mbdg.model.editor.category.ID"
            name="Synthetic Data Generation Framework">
      </category>
      <wizard
            category="com.elobanova.mbdg.model.editor.category.ID"
            class="com.elobanova.mbdg.model.ui.intermediate.wizard.IntermediateModelWizard"
            id="com.elobanova.mbdg.model.editor.wizard.intermediate.ID"
            name="Intermediate Model">
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            category="com.elobanova.mbdg.model.editor.category.ID"
            class="com.elobanova.mbdg.model.ui.benerator.wizard.BeneratorModelWizard"
            id="com.elobanova.mbdg.model.editor.wizard.generator.ID"
            name="Generator Model">
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            category="com.elobanova.mbdg.model.editor.category.ID"
            class="com.elobanova.mbdg.model.editor.NewWizard3"
            id="com.elobanova.mbdg.model.editor.wizard.generator.ID"
            name="Generator Model">
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            category="com.elobanova.mbdg.model.editor.category.ID"
            class="com.elobanova.mbdg.model.editor.NewWizard3"
            id="com.elobanova.mbdg.model.editor.wizard.intermediate.ID"
            name="Generator Model">
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            category="com.elobanova.mbdg.model.editor.category.ID"
            class="com.elobanova.mbdg.model.editor.NewWizard3"
            id="com.elobanova.mbdg.model.editor.wizard3"
            name="Generator Model">
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            category="com.elobanova.mbdg.model.editor.category.ID"
            class="com.elobanova.mbdg.model.editor.NewWizard3"
            id="com.elobanova.mbdg.model.editor.wizard3"
            name="name">
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            class="com.elobanova.mbdg.model.editor.NewWizard3"
            id="com.elobanova.mbdg.model.editor.wizard3"
            name="name">
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <!-- @generated GeneratorIntermediateModel -->
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated GeneratorIntermediateModel -->
      <editor
            id="intermediate.presentation.IntermediateEditorID"
            name="%_UI_IntermediateEditor_label"
            icon="icons/full/obj16/IntermediateModelFile.gif"
            extensions="intermediate"
            class="intermediate.presentation.IntermediateEditor"
            contributorClass="intermediate.presentation.IntermediateActionBarContributor">
      </editor>
   </extension>

</plugin>
