<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated GeneratorIntermediateModel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="intermediate.presentation.IntermediateModelWizardID"
            name="%_UI_IntermediateModelWizard_label"
            class="intermediate.presentation.IntermediateModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/IntermediateModelFile.gif">
         <description>%_UI_IntermediateModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated GeneratorIntermediateModel -->
      <editor
            id="intermediate.presentation.IntermediateEditorID"
            name="%_UI_IntermediateEditor_label"
            icon="icons/full/obj16/IntermediateModelFile.gif"
            extensions="intermediate"
            class="intermediate.presentation.IntermediateEditor"
            contributorClass="intermediate.presentation.IntermediateActionBarContributor">
      </editor>
   </extension>

</plugin>
