<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.elobanova.mbdg.ui.category.id"
            name="Synthetic Data Generation Framework">
      </category>
      <wizard
            category="com.elobanova.mbdg.ui.category.id"
            class="com.elobanova.mbdg.ui.setup.SetupWizard"
            id="com.elobanova.mbdg.ui.wizard.setup.id"
            name="Setup Model">
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>

</plugin>
